*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
}

.sec1, .sec2, .sec3, .sec4, .sec5, .sec6{
    display: block;
}

.sec1, .sec2, .sec6{
    background-color: #1f2937;
}

.sec1 .header, .sec2 .intro, .sec3 .cardsec, .sec4 .quotesec, .sec5 .ctasec, .sec6 .footer{
    width: 70%;
    margin: 0 auto;
    display: block;
    padding-bottom: 3%;
}

.sec1 .header .logo, .sec1 .header .navbar{
    display: inline-block;
}

.sec1 .header .logo{
    color: #f9faf8;
    width: 40%;
    font-size: 24px;
}

.sec1 .header .logo h4{
    margin-bottom: 0;
    margin-top: 2%;
}

.sec1 .header .navbar{
    color: #e5e7eb;
    font-size: 18px;
    width: 59%;
}

.sec1 .header .navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.sec1 .header .navbar ul li{
    list-style: none;
    display: inline;
    text-align: center;
}

.sec2 .intro{
    display: flex;
}

.sec2 .intro .lintro{
    width: 40%;
}

.sec2 .intro .lintro h1{
    color: #f9faf8;
    width: 80%;
    font-size: 48px;
}

.sec2 .intro .lintro p{
    color: #e5e7eb;
    width: 80%;
    font-size: 18px;
}

.sec2 .intro .lintro button{
    background-color: #3882f6;
    color: #f9faf8;
    border: #3882f6 1px solid;
    border-radius: 10%;
    padding: 1.5% 3% 1.5% 3%;
}

.sec2 .intro .rintro{
    width: 59%;
}

.sec2 .intro .rintro .img{
    width: 60%;
    background-color: #6D747D;
    padding: 16% 5% 16% 5%;
    margin: 0 auto;
    margin-top: 9.5%;
    margin-bottom: 15%;
}

.sec2 .intro .rintro .img p{
    color: #e5e7eb;
    text-align: center;
    font-size: 18px;
}

.sec3 .cardsec .heading h2{
    text-align: center;
    padding-top: 1%;
    font-size: 36px;
}

.sec3 .cardsec .cardholder{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
    padding-top: 2%;
}

.sec3 .cardsec .cardholder .card{
    width: 20%;
    flex: 1;
}

.sec3 .cardsec .cardholder .card .cardimg{
    border: #3882f6 5px solid;
    width: 60%;
    height: 160px;
    margin: 0 auto;
    border-radius: 12%;
}

.sec3 .cardsec .cardholder .card p{
    width: 184px;
    margin: 0 auto;
    text-align: center;
    color: #1f2937;
}

.sec4{
    background-color: #e5e7eb;
}

.sec4 .quotesec .quote{
    padding: 9% 6% 7% 6%;
}

.sec4 .quotesec .quote .p1{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    text-align: justify;
}

.sec4 .quotesec .quote .p2{
    text-align: right;
    font-size: 24px;
}

.sec5 .ctasec .cta{
    margin: 8% 0% 4% 0%;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 8px;
    display: flex;
}

.sec5 .ctasec .cta .lcta{
    width: 70%;
    padding: 0% 0% 2% 10%;
    color: #f9faf8;
}

.sec5 .ctasec .cta .lcta h4{
    margin-bottom: 0;
    font-size: 24px;
}

.sec5 .ctasec .cta .lcta p{
    margin-top: 0;
    font-size: 18px;
}

.sec5 .ctasec .cta .rcta{
    width: 29%;
    padding-top: 5.5%;
}

.sec5 .ctasec .cta .rcta button{
    background-color: #3882f6;
    border: #f9faf8 solid 1px;
    border-radius: 10%;
    color: #f9faf8;
    font-size: 18px;
    padding: 1% 10% 1% 10%;
}

.sec6 .footer{
    text-align: center;
    color: #f9faf8;
    padding: 0.5% 0% 0.5% 0%;
    font-size: 18px;
}